#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "default_layout";

        kscan = <&kscan0>;
        transform = <&matrix_transform0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  300    0     500   650   425>
            , <&key_physical_attrs 100 100  200   25     500   650   425>
            , <&key_physical_attrs 100 100  400   25     500   650   425>
            , <&key_physical_attrs 100 100  100   50     500   650   425>
            , <&key_physical_attrs 100 100  500   50     500   650   425>
            , <&key_physical_attrs 100 100    0   75     500   650   425>
            , <&key_physical_attrs 100 100  300  100     500   650   425>
            , <&key_physical_attrs 100 100  200  125     500   650   425>
            , <&key_physical_attrs 100 100  400  125     500   650   425>
            , <&key_physical_attrs 100 100  100  150     500   650   425>
            , <&key_physical_attrs 100 100  500  150     500   650   425>
            , <&key_physical_attrs 100 100    0  175     500   650   425>
            , <&key_physical_attrs 100 100  300  200     500   650   425>
            , <&key_physical_attrs 100 100  200  225     500   650   425>
            , <&key_physical_attrs 100 100  400  225     500   650   425>
            , <&key_physical_attrs 100 100  100  250     500   650   425>
            , <&key_physical_attrs 100 100  500  250     500   650   425>
            , <&key_physical_attrs 100 100    0  275     500   650   425>
            , <&key_physical_attrs 100 100  400  325     500   650   425>
            , <&key_physical_attrs 100 100  500  350     500   650   425>
            , <&key_physical_attrs 100 100  600  375     500   650   425>
            , <&key_physical_attrs 100 100 1100    0  (-500)   850   425>
            , <&key_physical_attrs 100 100 1000   25  (-500)   850   425>
            , <&key_physical_attrs 100 100 1200   25  (-500)   850   425>
            , <&key_physical_attrs 100 100  900   50  (-500)   850   425>
            , <&key_physical_attrs 100 100 1300   50  (-500)   850   425>
            , <&key_physical_attrs 100 100 1400   75  (-500)   850   425>
            , <&key_physical_attrs 100 100 1100  100  (-500)   850   425>
            , <&key_physical_attrs 100 100 1000  125  (-500)   850   425>
            , <&key_physical_attrs 100 100 1200  125  (-500)   850   425>
            , <&key_physical_attrs 100 100  900  150  (-500)   850   425>
            , <&key_physical_attrs 100 100 1300  150  (-500)   850   425>
            , <&key_physical_attrs 100 100 1400  175  (-500)   850   425>
            , <&key_physical_attrs 100 100 1100  200  (-500)   850   425>
            , <&key_physical_attrs 100 100 1000  225  (-500)   850   425>
            , <&key_physical_attrs 100 100 1200  225  (-500)   850   425>
            , <&key_physical_attrs 100 100  900  250  (-500)   850   425>
            , <&key_physical_attrs 100 100 1300  250  (-500)   850   425>
            , <&key_physical_attrs 100 100 1400  275  (-500)   850   425>
            , <&key_physical_attrs 100 100 1000  325  (-500)   850   425>
            , <&key_physical_attrs 100 100  900  350  (-500)   850   425>
            , <&key_physical_attrs 100 100  800  375  (-500)   850   425>
            ;
    };

    mriya_position_map {
        compatible = "zmk,physical-layout-position-map";
        complete;

        origin { 
            physical-layout = <&mriya_layout>;
            positions
                = < 5  3  1  0  2  4 24 22 21 23 25 26 11  9  7  6>
                , < 8 10 30 28 27 29 31 32 17 15 13 12 14 16 36 34>
                , <33 35 37 38 18 19 20 41 40 39>
                ;
        };

    };
};
